allow domain kgsl_device:chr_file rw_file_perms;
allow domain rootfs:file entrypoint;
# libgsl is chatty about accessing /data/local/tmp
dontaudit { surfaceflinger appdomain } shell_data_file:dir search;
